<div class="md:mx-40">
  <!-- Hero Section Start -->
  <div class="grid lg:p-20 p-10">
    <h1 class="font-bold text-4xl lg:text-start text-center">The Payment Solution <br>for Your Business.</h1>

    <h2 class="text-xs font-medium my-10 lg:text-start text-center">
      Use tools that will help you grow your business, such as <br>payment acceptance and money transfer
    </h2>

    <div class="flex lg:justify-start justify-center items-center gap-5">
      <span class="bg-[#4B42E5] rounded-full py-1 px-2 font-bold whitespace-nowrap">
        Get started
      </span>

      <div class="flex items-center gap-1">
        <img ngSrc="./assets/Play.png" alt="" height="22" width="23">
        <span class="font-bold whitespace-nowrap">Watch Video</span>
      </div>
    </div>

  </div>
  <!--  Hero Section Ends-->

  <!-- Image display section starts -->
  <div class="relative lg:flex justify-center items-center gap-3 -mx-4">
    <div class="flex flex-col items-center justify-center">
      <img ngSrc="./assets/Rectangle%202817.png" alt="" height="378" width="269">
      <span class="mt-20"></span>
    </div>
    <div class="flex flex-col-reverse items-center justify-center">
      <img ngSrc="./assets/Rectangle%202818.png" alt="" height="378" width="269">
    </div>
    <div class="flex flex-col items-center justify-center lg:mt-0 mt-20">
      <img ngSrc="./assets/Rectangle%202819.png" alt="" height="378" width="269">
      <span class="mt-20"></span>
    </div>
    <div class="flex flex-col-reverse items-center justify-center">
      <img ngSrc="./assets/Rectangle%202820.png" alt="" height="378" width="269">
    </div>
    <div class="flex flex-col items-center justify-center lg:mt-0 mt-20">
      <img ngSrc="./assets/Rectangle%202821.png" alt="" height="378" width="166">
      <span class="mt-20"></span>
    </div>
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
  </div>
  <!--  Image display section ends-->

  <!--  Video section starts-->
  <div class="flex justify-center items-center my-24">
    <video
      id="my-video"
      class="video-js"
      controls
      preload="auto"
      width="1300"
      height="728"
      poster="./assets/Video%20image.png"
      data-setup="{}"
    >
      <source
        src="./assets/Chidimma%20Jude%20Nnam.mp4"
        type="video/mp4"
      />
      <!--      <source src="MY_VIDEO.webm" type="video/webm"/>-->
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </div>
  <!--  Video section ends-->

  <!--  Text area begins -->
  <div class="lg:flex justify-between items-center lg:p-0 p-10">
    <h1 class="font-bold text-4xl lg:text-start text-center">Whatever your size we <br>are the right fit</h1>
    <h2 class="text-xs font-medium lg:text-start text-center mt-10">
      Use tools that will help you grow your business, such as <br>payment acceptance and money transfer
    </h2>
  </div>
  <!--  Text area ends -->

  <!--  Card area starts -->
  <div class="my-20 lg:flex justify-between">
    <div class="bg-[#141125] lg:w-[47.5%] p-10 md:rounded-3xl rounded-xl">
      <div>
        <h1 class="font-bold text-4xl"> Large businesses</h1>
        <h2 class="text-xs font-medium lg:w-96 w-64 my-10">
          All the retail tools you need for selling online and instore – from inventory management, exchanges, and more.
        </h2>
      </div>

      <div>
        <img ngSrc="./assets/Downloader.png" alt="" height="370" width="558">
      </div>
    </div>

    <div class="grid gap-5 lg:mt-0 mt-2">
      <div class="bg-[#141125] lg:w-[642.14px] p-10 md:rounded-3xl rounded-xl">
        <img ngSrc="./assets/Rectangle%202848.png" alt="" height="112" width="198">
        <h1 class="font-bold text-2xl">Retail</h1>
        <h2 class="text-xs font-medium lg:w-96 w-64 mt-4">
          All the retail tools you need for selling online and instore – from inventory management, exchanges, and more.
        </h2>
      </div>

      <div class="bg-[#141125] lg:w-[638px] p-10 md:rounded-3xl rounded-xl">
        <img ngSrc="./assets/Rectangle%202848%20(1).png" alt="" height="112" width="198">
        <h1 class="font-bold text-2xl">Large businesses</h1>
        <h2 class="text-xs font-medium lg:w-96 w-64 mt-4">
          All the retail tools you need for selling online and instore – from inventory management, exchanges, and more.
        </h2>
      </div>
    </div>

  </div>
  <!--  Card area ends -->

  <!--  Customer area starts -->
  <div class="lg:flex justify-between">

    <div class="lg:w-[50%] flex flex-col justify-center lg:items-start items-center lg:p-0 p-10">
      <div class="mb-5">
        <p class="font-bold text-xl lg:text-start text-center">+5million customers</p>
        <h1 class="font-bold text-4xl my-10 lg:text-start text-center">
          What our customers <br>around the world <br>are saying
        </h1>
        <h1 class="font-medium text-sm lg:text-start text-center">
          Millions of companies use pay to take payments, <br>manage staff, and conduct business in-store and online.
        </h1>
      </div>
      <span class="bg-[#4B42E5] whitespace-nowrap py-1 px-2 font-bold rounded-full text-sm">
        Read customers stories
      </span>
    </div>

    <div
      class="bg-[#141125] grid justify-center items-center p-10 lg:rounded-3xl rounded-xl gap-3 lg:w-[50%] lg:mt-0 mt-10">
      <div class="bg-[#2A263F] w-[100%] lg:rounded-3xl rounded-xl p-10">
        <div class="flex items-center gap-3 mb-5">
          <img ngSrc="./assets/Ellipse%2020.png" alt="" height="40" width="40">
          <p class="font-bold">John Dope</p>
        </div>
        <span class="font-medium">
          Millions of companies use pay to take payments, manage staff, and conduct business in-store and online.
        </span>
      </div>

      <div class="bg-[#2A263F] w-[100%] lg:rounded-3xl rounded-xl p-10">
        <div class="flex items-center gap-3 mb-5">
          <img ngSrc="./assets/Ellipse%2020%20(1).png" alt="" height="40" width="40">
          <p class="font-bold">John Dope</p>
        </div>
        <span class="font-medium">
          Millions of companies use pay to take payments, manage staff, and conduct business in-store and online.
        </span>
      </div>
    </div>
  </div>
  <!--  Customer area ends -->

  <!--  Ready to join us start? -->
  <div class="bg-[#141125] flex flex-col justify-center items-center my-14 lg:p-20 p-10 rounded-3xl">
    <h1 class="font-bold text-4xl lg:text-start text-center">
      Ready to join over 5million <br>businesses already using Pay?
    </h1>
    <span
      class="bg-[#4B42E5] w-32 flex m-auto mt-10 py-1 px-2 font-bold text-sm whitespace-nowrap text-center rounded-full">
      Get started today
    </span>
  </div>
  <!--  Ready to join us end? -->

  <hr class="lg:mb-24 mb-6">

  <!--  Footer start here -->
  <div class="grid md:p-20 p-16">
    <div class="lg:flex justify-between">
      <div>
        <h1 class="font-bold text-4xl mb-10">Skillex</h1>
        <p class="w-[272px] font-medium text-sm">
          Use tools that will help you grow your business, such as payment acceptance and money transfer
        </p>
      </div>

      <div class="lg:my-0 my-10">
        <ul class="grid gap-3 font-medium text-sm">
          <li>Products</li>
          <li>Fastpay</li>
          <li>Campaigns</li>
          <li>Branding</li>
          <li>Offline</li>
        </ul>
      </div>

      <div>
        <ul class="grid gap-3 font-medium text-sm">
          <li>About</li>
          <li>Our Story</li>
          <li>Benefits</li>
          <li>Team</li>
          <li>Careers</li>
        </ul>
      </div>

      <div class="grid gap-3 font-medium text-sm lg:my-0 my-10">
        <span>Follow Us</span>
        <div class="flex items-center gap-2 text-sm">
          <i class="fa-brands fa-facebook"></i>
          <span>Facebook</span>
        </div>

        <div class="flex items-center gap-2 text-sm">
          <i class="fa-brands fa-twitter"></i>
          <span>Twitter</span>
        </div>

        <div class="flex items-center gap-2 text-sm">
          <i class="fa-brands fa-instagram"></i>
          <span>Instagram</span>
        </div>
      </div>
    </div>

    <div class="md:flex justify-between items-center font-mono lg:my-20 my-6">
      <div class="lg:text-inherit whitespace-nowrap text-xs">Copyright © 2020. Pay. All rights reserved.</div>
      <div class="flex gap-5">
        <span class="lg:text-inherit whitespace-nowrap text-xs">Terms & Conditions</span>
        <span class="lg:text-inherit whitespace-nowrap text-xs">Privacy Policy</span>
      </div>
    </div>
  </div>
  <!--  Footer ends here -->
</div>

