<nav class="sticky top-0 z-50">
  <div class="nav-area flex justify-between items-center md:mx-40 mt-10 p-3 rounded-full bg-[#141125]">

    <div class="flex gap-3">
      <div class="logo">
        <img ngSrc="./assets/logo.png" alt="" height="23" width="22">
      </div>

      <div class="title font-bold">
        <a routerLink="/home" routerLinkActive="active">Fastpay.</a>
      </div>
    </div>

    <div class="nav-list lg:flex hidden justify-between font-bold gap-5">
      <span>
        <a routerLink="/product" routerLinkActive="active">Products</a>
      </span>

      <span>
        <a routerLink="/about" routerLinkActive="active">About us</a>
      </span>

      <span>
        <a routerLink="/support" routerLinkActive="active">Support</a>
      </span>

      <span>
        <a routerLink="/company" routerLinkActive="active">Company</a>
      </span>
    </div>

    <div class="auth-btn flex justify-between gap-5 font-bold">
      <span class="sign-in">
        <a routerLink="/sign-in" routerLinkActive="active">Sign in</a>
      </span>

      <span class="get-started py-1 px-2 rounded-full text-sm bg-[#4B42E5]">
        <a routerLink="/get-started" routerLinkActive="active">Get started</a>
      </span>
    </div>

  </div>
</nav>
<router-outlet></router-outlet>
